<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>one-web</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<script src="/js/vue.min.js"></script>
<script src="/js/iview/iview.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand" href="#">micro-cloud</a>
	</nav>
	<div class="container">
		<h3>Server</h3>
		<p>
			<a href="//localhost:7000">Eureka Server</a>
		</p>
		<p>
			<a href="//localhost:7001/one-web/dev">Config Server</a>
		</p>
		<p>
			<a href="//localhost:7003">Monitor Server</a>
		</p>
		<h3>Service</h3>
		<p>
			<a href="//localhost:7002/swagger-ui.html">api-doc</a>
		</p>
		<h3>Web</h3>
		<p>
			<a href="//localhost:7002">one-web</a>
		</p>
	</div>
</body>
</html>